body {
    background-image: url("http://localhost:8080/PolyNetDefenderBackground.png");
    background-size: cover;
    background-position: center-top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home {
	width: 250px;
	height: 250px;
	background-size: cover;
	background-position: center;
	border: none;
	border-radius: 35px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-left: -1655px;
	background-image: url("http://localhost:8080/PolyNetDefender.png");
}

#home::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 35px;
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	transition: opacity 0.3s;
	opacity: 0;
}

#home:hover::after {
	content: '';
	background-image: url("http://localhost:8080/PolyNetDefenderReturnHome.png");
	opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	z-index: 5;
}

#loader-home {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	line-height: 100vh;
	font-size: 40px;
	z-index: 1;
}

#terminal {
	width: 700px;
	height: 450px;
	overflow-y: scroll;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-family: monospace;
	scrollbar-width: none;
	position: absolute;
	top: 550px;
	left: 1170px;
}

#terminal::-webkit-scrollbar {
	display: none;
}

#command-line {
	display: flex;
	align-items: center;
}

#command-input {
	width: 100%;
	border: none;
	background-color: black;
	color: white;
	outline: none;
	font-family: monospace;
}

.info-box {
    position: absolute;
    top: 60px;
    right: 200px;
    background-color: #9500b3;
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    text-align: center;
}

.info-box h1 {
    margin: 0;
    font-size: 24px;
}